body {
    margin: 0;
}


#main-header {
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Verdana';
    text-transform: uppercase;
    position: relative;
    text-align: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    
}

#header-text {
    position: absolute;
    width: 100%;
    top: 50vh;
    
}

#header-photo {
   
    
}


